body{
	margin: 0;
	padding: 0;

	font-family: 'Cuprum', Arial, sans-serif;
	color: #000;

	background-color: #fff;
}
a{
  	text-decoration: none;

}
.visually-hidden{
	position: absolute;
  	width: 1px;
  	height: 1px;
  	margin: -1px;
  	border: 0;
 	padding: 0;

  	clip: rect(0 0 0 0);
  	overflow: hidden;
}
.page-header a{
	color: #fff;
	text-align: center;

}
.page-header{
	margin-bottom: 120px;
}
.header-top{
	background-color: #293449;	
}
.header-top-container{
	display: flex;
	justify-content: space-between;
	width: 940px;
	margin: 0 auto;
}
.header-top-btn{
	width: 150px;
	padding: 12px 0;

	font-size: 17px;
	line-height: 18px;	
}
.header-search{
	width: auto;
	flex-grow: 1;

	font-size: 17px;
	line-height: 18px;	
}
.logo{
	width: 220px;

	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;

	background-color: #ee3643;
	cursor: pointer;
}
.logo:hover{
	background-color: #ca2c37;
}
.logo:active{
	background-color: #ba2732;
}
.header-search{
	outline: none;
	border: none;
	background: none;
}
.header-search:hover,
.buy-btn:hover{
	background-color: #212a3a;
}
.buy-btn:active{
	background-color: #161d29;
	color: #9b9da2;
}
.header-search:focus{
	background-color: #fff;
	color: #000;
}
.order-button{
	background-color: #63a63e;
}
.order-button:hover{
	background-color: #5fbb2d;
}
.order-button:active{
	opacity: 0.6;
}

.container{
	width: 940px;
	margin: 0 auto;
}
.header-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 160px;

	background-color: #fff;
}
.header-site-info{
	display: flex;
}

.header-bottom h1{
	font-size: 16px;
	line-height: 23px;	
	font-style: italic;

	color: #ee3643;
}
.header-contacts .phone-number{
	font-size: 21px;
	line-height: 21px;

	color: #ee3643;
}
.header-contacts .adress{
	font-size: 14px;
	line-height: 24px;

	color: #32425c;
}
.user-navigation{
	display: flex;
	margin: 0;
	padding: 25px;
}
.user-reg-link{
	margin-left: 60px;

	font-size: 21px;
	line-height: 21px;
	list-style: none;
}
.user-reg-link a{
	color: #000;
}
.user-reg-link a:hover{
	color: #ee3643;
}
.user-reg-link a:active{
	color: #000;
	opacity: 0.2;
}
.main-menu{

	font-size: 17px;
	line-height: 17px;

	color: #fff;
	background-color: #32425c;
}
.site-navigation{
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;

	list-style: none;
}

.site-navigation a:hover{
	background-color: #293449;
}
.site-navigation a:active{
	background-color: #1d2739;
	opacity: 0.8;
}
.button{
	font-size: 17px;
	line-height: 17px;
	text-transform: uppercase;

	color: #fff;
	background-color: #ee3643;
	border: none;	
	cursor: pointer;
}
.button:hover{	
	background-color: #ca2c37;
}
.button:active{	
	background-color: #ba2732;
}
.slide-name{
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
}
.slide-description{
	font-size: 18px;
	line-height: 24px;
}

.promo-list{
	font-size: 24px;
	line-height: 30px;

	color: #fff;
	list-style: none;	
}
.promo-list .materials{
	background-color: #ffbf47;
}
.promo-list .instruments{
	background-color: #3bbce3;
}
.promo-list .technic{
	background-color: #dc91d8;
}
.promo-list .sale{
	background-color: #8ed78f;
}
.promo-list .delivery{
	background-color: #ffc047;
}
.promo-btn{
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

	color: #fff;

	background-color: rgba(0, 0, 0, 0.1);
}
.promo-btn:hover{
	background-color: rgba(0, 0, 0, 0.2);
}
.promo-btn:active{
	background-color: rgba(0, 0, 0, 0.3);
}
.section-title{
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;

	color: #32425c;
}
.popular-items{
	list-style: none;
}
.catalog-item-title{
	font-size: 18px;
	line-height: 20px;

	color: #000;
}
.buy-item-btn{
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

	color: #fff;
	background-color: #63a63e;
	border: none;
	border-bottom: 2px solid #367315;
	outline: none;
}
.buy-item-btn:hover{
	background-color: #5fbb2d;
}
.buy-item-btn:active{
	background-color: #518534;
	border-color: #518534;
}
.cart-item-btn{
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;

	color: #32425c;
	background-color: #fff;
	border: 2px solid #367315;
	outline: none;
	cursor: pointer;
}
.cart-item-btn:hover{	
	border-color: #32425c;
}
.cart-item-btn:active{
	opacity: 0.2;
}
.item-price{
	font-size: 17px;
	line-height: 18px;

	color: #fff;
	background-color: #ee3643;
}
.brands-list{
	list-style: none;
}
.brands-list .brand:hover{
	box-shadow: 0 5px 10px #aeb2ba;
}
.brands-list .brand:active{
	opacity: 0.4;
}
.services h2{
	color: #000;
}
.services h3{
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	font-weight: normal;

	color: #32425c;
	

}
.about-container{
	display: flex;
	justify-content: space-between;

	color: #000;
}
.about-company{
	margin-bottom: 88px;
}
.about-contacts{
	margin-left: 120px;
}
.about-company h3{
	color: #000;
}
.services{
	margin-bottom: 180px;
}
.section-title{
	margin-bottom: 34px;
}
.delivery-description{
	margin-top: 50px;
}
.delivery-by{
	list-style: none;
	margin: 0;
	padding: 0;
}
.services p,
.about-company p{
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;

	color: #000;
}
.services-slider-btn{
	font-size: 21px;
	line-height: 30px;

	color: #fff;
	background-color: #32425c;
	border: none;
	outline: none;
	cursor: pointer;
}
.services-slider-btn:hover{
	background-color: #293449;
}
.services-slider-btn:focus{
	background-color: #fff;
	color: #32425c;
}
.delivery-by{
	list-style: none;
}
.page-footer{
	background-color: #32425c;
	color: #fff;
}
.footer-container{
	display: flex;
	justify-content: space-between;

	width: 940px;
	margin: 0 auto;
}
.footer-menu-btn{
	margin-left: 60px;
}
.page-footer a{
	color: #fff;
}
.footer-navigation,
.footer-promo{
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
	font-size: 18px;
	line-height: 24px;
}
.footer-promo a{
	color: #ffd180;
}
.footer-menu-btn:hover{
	text-decoration: underline;
}
.footer-menu-btn:active{
	text-decoration: none;
	opacity: 0.4;
}
.footer-contacts{
	font-size: 16px;
	line-height: 18px;
}
.footer-social ul{
	list-style: none;
}
.social-button{
	background-color: #212a3a;
}
.social-button:hover,
.social-button:active{
	background-color: #ee3643;
}
.developer-contacts{
	color: #ffd180;
}
.developer-contacts:hover{
	text-decoration: underline;
}
.developer-contacts:active{
	color: #ee3643;
	text-decoration: none;
}
.modal{
	font-size: 18px;
	line-height: 18px;

	color: #000;
}
.map-container{
	width: 940px;
	height: 445px;
	margin: 0 auto;
	overflow: hidden;
}

.modal input,
.modal textarea{
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 16px;
}
.breadcrumbs{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
.breadcrumbs a{
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: normal;

	color: #000;
}
.sort-title{
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: normal;

	color: #000;
}
.filter-type{
	border: none;
}
.filter-type ul{
	list-style: none;
}
.filter-name{
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;

	color: #000;
}
.filter-option{
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: normal;
	text-transform: uppercase;

	color: #000;
}
.catalog-btn{
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;

	color: #000;
}
.catalog-container{
	display: flex;
	justify-content: space-between;
}
.catalog-list{	
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;

}
.catalog-item{
	min-width: 225px;
	text-align: center;
}







